{% extends 'base.html.twig' %}

{% block title %}INDEX {% endblock %}

{% block body %}
    <h1>FULLL {{ string }}</h1>
    <h2>Change</h2>
    <h3>111111111</h3>
    <h4>222222222222</h4>
    <div><a href="{{ path('penalty_index') }}">Penalty</a></div>
    <div> <a href="{{ path('car_index') }}">Car</a></div>
    <div><a href="{{ path('num_car_index') }}">NumCar</a></div>
    <div> <a href="{{ path('driver_index') }}">Driver</a></div>
{% endblock %}